:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color-blue:#2196F3;
    --primary-bg-color:#E5E5E5;
    --secondary-bg-color: #2F303A;
    --primary-write-color: #FFFFFF;
    --accent-color-red:red;
    --footer-text-color:rgba(255, 255, 255, 0.6)
    --button-bg-color: #F5F4FA;

}


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/*Header-begin*/
/*Site nav*/
.logo {
    color: var(--accent-color-blue);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
}
.logo .color-header {
    color: var(--secondary-bg-color)
}
.logo .color-footer {
    color: var(--primary-write-color)
}

.logo:hover {
    color: var(--accent-color-red);
}

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color-red);
}

.site-nav .link.current {
    color: var(--accent-color-blue);
 
}

.mail-header {
    color: var(--accent-color-blue);

    font-weight: 500;
    letter-spacing: 0.02em;
}
.mail-header:hover,
.mail-header:focus {
    color: var(--accent-color-red);
}

.tel-header {
    color: var(--primary-text-color);

    font-weight: 500;
    letter-spacing: 0.02em;
}
.tel-header:hover,
.tel-header:focus {
    color: var(--accent-color-red);
}

/*Header-end*/
/*Main*/
.hero {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--primary-write-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.features-list .title {
    color: var(--title-text-color);

    text-transform: uppercase;
}
.features-list .text {
    line-height: 1.71;
}

.emploees-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /*text-align: center;*/
    
}
.emploees-list .text {
    font-size: 16px;
    line-height: 1.19;
    /*text-align: center;*/
}
.portfolio-list .title {
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-list .text {
    font-size: 16px;
    line-height: 1.88;
}
/*button*/ 
.button {
    font-family: inherit;
    cursor: pointer;
}
.button.hero {
    color: var(--primary-write-color);
    background-color: var(--accent-color-blue);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

.button.primary {
    color: var(--primary-write-color);
    background-color: var(--accent-color-blue);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
 }
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--button-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
  }
.button:hover,
.button:focus {
    color: var(--accent-color-red);
}

/*Футер*/
footer {
    background-color: var(--secondary-bg-color);
}
.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.address .coordinatesess {
    color: var(--primary-write-color); 
}
.address .coordinatesess:hover,
.address .coordinatesess:focus {
    color: var(--accent-color-red);
}

.address .mail-footer,
.address .tel-footer {
    color: var(--footer-text-color);
}
.address .mail-footer:hover,
.address .mail-footer:focus {
    color: var(--accent-color-red);
}

.address .tel-footer:hover,
.address .tel-footer:focus {
    color: var(--accent-color-red);
}

/*вторичный цвет текста background: #212121;*/
/*цвет основного текста background: #757575;*/
/*цвет текста заголовка h1 и кнопки background: #FFFFFF;*/
/*цвет текста футера background: rgba (255, 255, 255, 0.6)*/

/*акцент background: #2196F3;*/
/*цвет фона карточек сотрудников и футера  background: #FFFFFF;*/
/* цвет фона  background: #E5E5E5;*/
/* цвет фона background: #F5F4FA;*/
/* цвет фона hero и футера background: #2F303A;*/