:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-bg-color:#E5E5E5;
    --secondary-write-color:#FFFFFF;


}


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/*Site nav*/
.logo {
    color: var(--accent-color);
}
/*не работает наведение курсора*/
.logo:hover {
    color: red;
}

.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: red;
}
/*Добавить новую странцу!!!!!!*/
.site-nav .link.current {
    color: var(--accent-color);
 
}

.title {
    color: var(--secondary-write-color);
}

.section-title {
    color: var(--title-text-color);
}

.features-list .title {
    color: var(--title-text-color);
}

.emploees-list .title {
    color: var(--title-text-color);
    
}

/*button*/
.button {
    color: var(--secondary-write-color);
    background-color: var(--accent-color);

}
/*вторичный цвет текста background: #212121;*/
/*цвет основного текста background: #757575;*/
/*цвет текста заголовка h1 и кнопки background: #FFFFFF;*/
/*цвет текста футера background: rgba (255, 255, 255, 0.6)*/

/*акцент background: #2196F3;*/
/*цвет фона карточек сотрудников и футера  background: #FFFFFF;*/
/* цвет фона  background: #E5E5E5;*/
/* цвет фона background: #F5F4FA;*/
/* цвет фона hero и футера background: #2F303A;*/